.site-header {
    display: flex;
    min-height: 10rem !important;
    align-items: center;
}

@media (min-width: 50rem){

    .site-header {

        min-height: 5rem !important;

    }

}

video {
    width: 100% !important;
    max-width: 330px !important;
  }